
/* ---------- Color Module Styles ----------- */

body,body-overlay
{
  color: #3b3b3b;

}
.comment .comment-arrow {
  border-color: #ffffff;
}
#page,
#main-wrapper,
#main-menu-links li a.active,
#main-menu-links li.active-trail a {
   background: rgb(191,220,238); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(191,220,238,1) 0%, rgba(226,242,249,1) 44%, rgba(226,242,249,1) 100%); /* FF3.6+ */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,220,238,1)), color-stop(44%,rgba(226,242,249,1)), color-stop(100%,rgba(226,242,249,1))); /* Chrome,Safari4+ */
   background: -webkit-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* Chrome10+,Safari5.1+ */
   background: -o-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* Opera 11.10+ */
   background: -ms-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* IE10+ */
   background: linear-gradient(to bottom, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* W3C */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdcee', endColorstr='#e2f2f9',GradientType=0 ); /* IE6-9 */
}
.tabs ul.primary li a.active {
  background-color: #ffffff;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
#header {
  background-color: #216885;
  height:125px;

}
a {
  color: #508694;
}
a:hover,
a:focus {
  color: #508694;
}
a:active {
  color: ##508694;
}
.sidebar .block {
  background-color: transparent;
  border:none;
}
#page-wrapper{
    background: rgb(191,220,238); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(191,220,238,1) 0%, rgba(226,242,249,1) 44%, rgba(226,242,249,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,220,238,1)), color-stop(44%,rgba(226,242,249,1)), color-stop(100%,rgba(226,242,249,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(191,220,238,1) 0%,rgba(226,242,249,1) 44%,rgba(226,242,249,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdcee', endColorstr='#e2f2f9',GradientType=0 ); /* IE6-9 */
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  color: #fffeff;
}

